# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\СРСки\АиП\Lab15\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
